{{ partial "header.html" . }}


{{ if .IsHome }}
<!--TODO: replace with faster search-->
{{ partial "search-form.html" . }}
<ul id="results"></ul>
<div class="home-content">{{ .Content }}</div>
<!--<img src="/imgs/card.png" width="400px">
    {{ range .Sections }}
        <h1 class="section-title">{{ .CurrentSection.Title }}</h1>
        {{ .CurrentSection.Content }}
        {{ partial "post_list.html" . }}
    {{ end }}-->
{{ else }}
    <h1 class="section-title">{{ .CurrentSection.Title }}</h1>
    {{ partial "post_list.html" . }}
{{ end }}

{{ partial "footer.html" . }}
